* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./figures-2473795_1280.jpg)fixed;
    background-size: cover;
}

#calculator {
    height: 630px;
    width: 400px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: black;
    border: 2px solid rgb(61, 61, 61);
    box-shadow: 0px 5px 15px 5px rgb(185, 185, 185);
}

#display {
    height: 90px;
    width: 80%;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 3rem;
    font-weight: 600;
    text-align: end;
    cursor: not-allowed;
}

table {
    margin: 0 auto;
}

.boxes {
    height: 78px;
    width: 78px;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(182, 180, 180);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 5px 15px 5px rgb(28, 28, 28);
    position: relative;
    top: 50px;
    text-shadow: 5px 5px 8px rgb(103 101 101);
    cursor: pointer;
}

.active {
    box-shadow: inset 5px 5px 5px black;

}

.inactive {
    box-shadow: 5px 5x 5px black;
}

/* media queries */
@media screen and (max-width: 500px) {
    #calculator {
        height: 510px;
        width: 300px;
        margin-top: 50px;
    }

    .boxes {
        height: 60px;
        width: 60px;
        font-size: 2rem;
        bottom: 20px;
        border-radius: 50%;
    }

    #display {
        height: 80px;
        margin-left: 30px;
        font-size: 2.5rem;
    }
}